/*styles for home content only*/

.update-notification{
	position: absolute;
	top:0;
	left:0;
	padding: 20px;
	button {
		background-color:red;
		color:white;
		outline:none;
	}
}

.models{
	width: 100%;
	overflow-x: scroll;
	ul{
		width:1000%;
		li{
			display: inline-block;
		}
	}
}