<div class="sidebar">
	<ul class="actions">
		<li class="icon add">Create Project</li>
		<li class="icon folder">Read documentation</li>
	</ul>
	<h3 class="section-title">Projects</h3>
	<div class="projects-tree">
		<ul class="projects-list">
			<li>
				<h4>MyProject</h4>
				<ul class="project-options">
					<li>
						<h5>Models</h5>
						<ul class="option-list">
							<li>User</li>
							<li>Fruit</li>
							<li>Panier</li>
							<li>Panier</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>