/*styles for home content only*/
$assets_path: "../../../assets/";
@import './src/app/styles/_base';

.sidebar{
	display: inline-block;
	width: 223px;
	background-color: $white;
	height:100%;
	position:fixed;
	border-right: 0.5px solid #D4D8DF;
	ul.actions{
		margin-top: 60px;
		display: block;
		width:100%;
		li{
			height:26px;
			color: $dark-grey;
			width: calc(100% - 32px);
			padding-left: 32px;
			font-family: 'Circular Std';
			font-size: 14px;
			position: relative;
			cursor: pointer;
			font-weight: 100;
			transition: color 0.3s;
			&.icon{
				&:before{
					content:"";
					height:14px;
					width:14px;
					display: block;
					position: absolute;
					left:10px;
					top:2px ;
					background-color:red;
					&.add{
						//
					}
					&.folder{
						//
					}
				}
			}
			&.selected{
				color: $blue;
			}
		}
	}
	h3.section-title{
		font-family: 'Circular Std';
		font-size: 12px;
		text-transform: uppercase;
		color: $grey;
		padding: 24px 10px;
		display: block;
	}
	.projects-tree{
		display: block;
		ul.projects-list{
			width:100%;
			display: block;
			li.project{
				width:100%;
				display: block;
				h4{
					padding: 6px 0 0 36px;
					height: 26px;
					font-family: 'Circular Std';
					font-size: 14px;
					color: $dark-grey;
					background-color: #FAFAFA;
					display: block;
					transition: color 0.3s;
					cursor: pointer;
					position: relative;
					&:after{
						content: "";
						position: absolute;
						right:17px;
						top:14px;
						display: block;
						height: 4.67px;
						width: 8px;
						background-color: red;
						transform: rotateZ(-90deg);
						transition: transform 0.3s;
					}
					&.open{
						&:after{
							transform: rotateZ(0deg);
						}
					}
				}
				ul.project-options{
					width: calc(100% - 36px);
					margin-left: 36px;
					display: block;
					li.option{
						h5{
							font-family: 'Circular Std';
							font-size: 13px;
							color: $dark-grey;
							transition: color 0.3s;
							cursor: pointer;
							height:16px;
							margin: 4px 0;
							&:hover{
								color: $blue;
							}
							&.active{
								color: $blue;
							}
						}
						ul.option-list{
							li{
								padding-left: 11px;
								font-family: 'Circular Std';
								font-size: 13px;
								color: $light-grey;
								opacity: 0.6;
								cursor: pointer;
								transition: opacity 0.3s, color 0.3s;
								position: relative;
								height:16px;
								margin: 2px 0;
								&:hover{
									color: $blue;
								}
								&.valid{
									opacity: 1;
									color: $blue;
								}
								&:before{
									content:"L";
									font-size: 8px;
									top:3px;
									left:0px;
									display: block;
									position: absolute;
								}
							}
						}
					}
				}
			}
		}
	}
}