/*styles for home content only*/
$assets_path: "../../../assets/";
@import './src/app/styles/_base';

.sidebar{
	display: inline-block;
	width: 223px;
	background-color: $white;
	height:100%;
	position:fixed;
	ul.actions{
		margin-top: 60px;
		display: block;
		width:100%;
		li{
			height:26px;
			width: calc(100% - 32px);
			padding-left: 32px;
			font-family: 'Circular Std';
			font-size: 14px;
			position: relative;
			cursor: pointer;
			&.icon{
				&:before{
					content:"";
					height:14px;
					width:14px;
					display: block;
					position: absolute;
					left:10px;
					top:2px ;
					background-color:red;
					&.add{
						//
					}
					&.folder{
						//
					}
				}
			}
		}
	}
	h3.section-title{
		font-family: 'Circular Std';
		font-size: 12px;
		text-transform: uppercase;
		color: $grey;
		padding: 24px 10px;
		display: block;
	}
	.projects-tree{
		display: block;
		ul.projects-list{
			width:100%;
			display: block;
			& > li{
				background-color: #FAFAFA;
				width:100%;
				height: 26px;
				display: block;
				h4{
					margin: 3px 36px 5px 0;
					font-family: 'Circular Std';
					font-size: 14px;
				}
				ul.project-options{
					& > li{
						h5{
							font-family: 'Circular Std';
							font-size: 13px;
						}
						ul.option-list{
							& > li{
								font-family: 'Circular Std';
								font-size: 13px;
							}
						}
					}
				}
			}
		}
	}
}