<div>
  <br>
  
  <div>
    <label for="project_name">Create project</label>
    <input id="project_name" (keyup)="createProject($event)">
  </div>
  

  <ul>
    <li *ngFor="let project of projects">
      <h1>{{project.name}}</h1>

      <div>
        <label for="model_name">Create model</label>
        <input id="model_name" (keyup)="project.createModel($event)">
      </div>

      <div class="models">
        <ul>
          <li *ngFor="let model of project.models">
            <h4>#{{model.className}}</h4>
            <textarea rows="4" cols="50" [(ngModel)]="model.structure.json" placeholder="Place your structure here" [disabled]="model.structure.locked" (keyup)="prettyPrint($event)"></textarea>
            <br>
            <!-- <button (click)="model.structure.build()" *ngIf="!model.structure.locked">Confirm model</button> -->
          </li>
        </ul>
      </div>

      <br>
      <button *ngFor="let traductor of traductors.list" (click)="project.addTraductor(traductor)">Add {{traductor.name}}</button>

      <h5>Traductors</h5>
      <p *ngFor="let traductor of project.traductors"> > {{traductor.name}}</p>
      <br>

      <button (click)="project.build()">Build project</button>

    </li>
  </ul>
</div>


<div class="update-notification" *ngIf="appUpdater != undefined && appUpdater.updateAvailable">
  <button (click)="updateSoftware()">Update Software</button>
</div>
